.home .mod-top-big-poster .mod-simple-form {
  position: relative;
  top: calc(50% - 50px);
  left: 50%;
  width: 660px;
  max-width: 90%;
  z-index: 99999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home .canvas {
  width: 100%;
  height: auto;
  background-color: red;
}
.home .canvas:before {
  height: 0;
  margin-top: 100%;
  content: "";
  display: block;
}
