/* PROXIMA NOVA */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("fonts/ProximaNova-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"), url("fonts/ProximaNova-Regular.svg#svgProximaNovaRegular") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("fonts/ProximaNova-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype"), url("fonts/ProximaNova-Bold.svg#svgProximaNovaBold") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}
/* FONTELLO */
@font-face {
  font-family: 'Icons';
  src: url("fonts/fontello.eot");
  /* IE9 Compat Modes */
  src: url("fonts/fontello.eot?#iefix") format("embedded-opentype"), url("fonts/fontello.woff") format("woff"), url("fonts/fontello.ttf") format("truetype"), url("fonts/fontello.svg#icons") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
}

:focus {
  outline: 0;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

i, em {
  font-style: italic;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #FFFFFF;
  font-family: Arial, 'sans-serif';
  font-size: 100%;
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.clearfix:after {
  content: ".";
  height: 0;
  width: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  opacity: 0;
  display: block;
}

[class^="icon-"],
[class*=" icon-"],
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  font-size: 0rem;
  line-height: 1em;
  text-align: left;
  height: auto;
  width: auto;
  float: left;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-size: 1rem;
  width: 100%;
  min-width: 25px;
}

.icon-heart:before {
  content: '\e800';
}

.icon-grid:before {
  content: '\e801';
}

.icon-list:before {
  content: '\e802';
}

.icon-lock-open:before {
  content: '\e803';
}

.icon-lock:before {
  content: '\e804';
}

.icon-phone:before {
  content: '\e805';
}

.icon-mail:before {
  content: '\e806';
}

.fnca {
  color: #FFFFFF !important;
}

.bgca {
  background-color: #FFFFFF !important;
}

.fncb {
  color: #927BB4 !important;
}

.bgcb {
  background-color: #927BB4 !important;
}

.fncc {
  color: #6789B2 !important;
}

.bgcc {
  background-color: #6789B2 !important;
}

.fncd {
  color: #1C7EBE !important;
}

.bgcd {
  background-color: #1C7EBE !important;
}

.fnce {
  color: #16487B !important;
}

.bgce {
  background-color: #16487B !important;
}

.fncf {
  color: #09315A !important;
}

.bgcf {
  background-color: #09315A !important;
}

.fncg {
  color: #33BAF1 !important;
}

.bgcg {
  background-color: #33BAF1 !important;
}

.fnch {
  color: #3B8D99 !important;
}

.bgch {
  background-color: #3B8D99 !important;
}

.fnci {
  color: #86B14F !important;
}

.bgci {
  background-color: #86B14F !important;
}

.fncj {
  color: #C7C7C7 !important;
}

.bgcj {
  background-color: #C7C7C7 !important;
}

.fnck {
  color: #DA592A !important;
}

.bgck {
  background-color: #DA592A !important;
}

.fncl {
  color: #DBE4E8 !important;
}

.bgcl {
  background-color: #DBE4E8 !important;
}

.fncm {
  color: #F6F6F6 !important;
}

.bgcm {
  background-color: #F6F6F6 !important;
}

.fncn {
  color: #000000 !important;
}

.bgcn {
  background-color: #000000 !important;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
}

.main .header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: block;
}
.main .header .content {
  position: relative;
  top: 0;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
}
.main .header .logo-link {
  clear: both;
  width: 500px;
  height: 100px;
  font-size: 0;
  text-decoration: none;
  background-image: url(../css/images/image-0001.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.main .header .top-bar {
  float: left;
  width: 100%;
  height: 50px;
  display: block;
}
.main .header .top-bar .languages,
.main .header .top-bar .languages * {
  float: left;
  width: auto;
  height: 50px;
  line-height: 50px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: normal;
  font-style: normal;
  display: block;
}
.main .header .top-bar .languages {
  float: right;
  padding: 0 10px 0 0;
}
.main .header .top-bar .languages li a {
  position: relative;
  top: 0;
  left: 0;
}
.main .header .top-bar .languages li a span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 0 10px 0 10px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.main .header .top-bar .languages li a span:last-of-type {
  position: relative;
}
body.desktop .main .header .top-bar .languages li a:not(.disabled):hover span:last-of-type, body.desktop .main .header .top-bar .languages li a:not(.disabled):active span:last-of-type, body.desktop .main .header .top-bar .languages li a:not(.disabled):focus span:last-of-type, .main .header .top-bar .languages li a:not(.disabled).selected span:last-of-type {
  opacity: 0;
}
.main .header .top-bar .languages li a:not(.disabled).selected {
  cursor: default;
}

.main .content,
.main .padded-wrap,
.main .wrap,
.main .footer {
  clear: both;
  width: 90%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.main .padded-wrap {
  padding: 0 5% 0 5%;
  width: 100%;
}
.main .wrap {
  width: 100%;
}

.main .footer {
  padding: 50px 5% 50px 5%;
  max-width: none;
  width: 100%;
}
.main .footer .primary * {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  display: block;
}
.main .footer .primary {
  border-bottom: #C7C7C7 solid 1px;
  overflow: hidden;
  height: auto;
}
.main .footer .primary li {
  float: left;
  width: auto;
  border-right: #C7C7C7 solid 1px;
  overflow: hidden;
}
.main .footer .primary li:last-of-type {
  border-right: none;
}
.main .footer .primary li a, .main .footer .primary li a span {
  width: auto;
  position: relative;
  top: 0;
  left: 0;
}
.main .footer .primary li a span {
  padding: 0 20px 0 20px;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.main .footer .primary li a span:last-of-type {
  position: absolute;
}
body.desktop .main .footer .primary li a span:not(.disabled):hover:last-of-type, body.desktop .main .footer .primary li a span:not(.disabled):active:last-of-type, body.desktop .main .footer .primary li a span:not(.disabled):focus:last-of-type, .main .footer .primary li a span:not(.disabled).selected:last-of-type {
  opacity: 0;
}
.main .footer .primary li a span:not(.disabled).selected {
  cursor: default;
}
.main .footer .secondary,
.main .footer .secondary * {
  width: auto;
  height: auto;
  line-height: 1em;
  min-height: 20px;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  display: block;
}
.main .footer .secondary {
  float: left;
  width: 66%;
}
.main .footer .secondary li,
.main .footer .secondary li h1 {
  float: left;
}
.main .footer .secondary li h1 {
  float: none;
  min-height: 40px;
  font-family: 'ProximaNova-Regular';
  text-transform: uppercase;
  font-size: 1.5rem;
}
.main .footer .secondary li {
  width: 50%;
  padding: 48px 0 0 20px;
}
.main .footer .secondary li li {
  float: none;
  text-transform: none;
  width: auto;
  margin: 11px 0 11px 0;
  padding: 0;
}
.main .footer .secondary li li a {
  display: inline-block;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
body.desktop .main .footer .secondary li li a:not(.disabled):hover, body.desktop .main .footer .secondary li li a:not(.disabled):active, body.desktop .main .footer .secondary li li a:not(.disabled):focus, .main .footer .secondary li li a:not(.disabled).selected {
  text-decoration: underline;
  color: inherit !important;
}
.main .footer .secondary li li a:not(.disabled).selected {
  cursor: default;
}
.main .footer .secondary li li:last-of-type {
  margin: 10px 0 0 0;
}
.main .footer .mod-simple-form {
  float: right;
  width: 33%;
}
.main .footer .mod-simple-form h1 {
  line-height: 1em;
  font-size: 1.5rem;
  font-family: 'ProximaNova-Regular';
  font-weight: normal;
  font-style: normal;
  padding: 48px 0 37px 0;
  text-transform: uppercase;
}
.main .footer .bottom-text {
  clear: both;
  width: 100%;
  height: auto;
  padding: 40px 5% 0 5%;
}
.main .footer .bottom-text p {
  width: 100%;
  line-height: 1em;
  font-size: 1rem;
  font-family: 'ProximaNova-Regular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

@media (max-device-width: 1440px), (max-width: 1440px) {
  .main .footer .secondary {
    width: 60%;
  }
  .main .footer .mod-simple-form {
    width: 40%;
  }
}
@media (max-device-width: 1200px), (max-width: 1200px) {
  .main .footer .secondary {
    width: 55%;
  }
  .main .footer .mod-simple-form {
    width: 45%;
  }
}
@media (max-device-width: 1024px), (max-width: 1024px) {
  .main .footer .primary *,
  .main .footer .secondary li h1,
  .main .footer .mod-simple-form h1 {
    font-size: 1.3rem;
  }
  .main .footer .secondary {
    width: 40%;
  }
  .main .footer .secondary li {
    width: 100%;
    clear: both;
  }
  .main .footer .mod-simple-form {
    width: 60%;
  }
}
@media (max-device-width: 767px), (max-width: 767px) {
  .main .header .top-bar .languages {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 10px;
  }

  .main h1 br,
  .main h2 br,
  .main h3 br,
  .main h4 br,
  .main h5 br,
  .main h6 br {
    display: none;
  }

  .main .footer {
    padding: 50px 0 50px 0;
    width: 100%;
  }
  .main .footer .wrap {
    width: 100%;
  }
  .main .footer .primary {
    border-bottom: none;
  }
  .main .footer .primary li {
    border-right: none;
    border-bottom: #C7C7C7 solid 1px;
    float: none;
  }
  .main .footer .primary li a span {
    width: 100%;
    padding: 0 5% 0 5%;
  }
  .main .footer .secondary {
    width: 100%;
  }
  .main .footer .secondary li {
    padding: 48px 0 0 5%;
  }
  .main .footer .mod-simple-form {
    float: none;
    clear: both;
    width: calc(100% - 5%);
    padding: 0 0 0 5%;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.mod-top-big-poster {
  width: 100%;
  height: calc(100% - 150px);
  background-image: none;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mod-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.mod-grid .item {
  margin-bottom: 20px;
  width: calc(1/3*100% - (1 - 1/3)*20px);
  height: auto;
  overflow: hidden;
}

.mod-simple-form,
.mod-simple-form * {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  line-height: 60px;
  height: 60px;
  display: block;
}

.mod-simple-form {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}
.mod-simple-form div {
  vertical-align: top;
  display: table-cell;
}
.mod-simple-form div:first-of-type {
  width: 100%;
}
.mod-simple-form form,
.mod-simple-form fieldset,
.mod-simple-form input {
  width: 100%;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  background: none;
  background-image: none;
}
.mod-simple-form h1 {
  height: auto;
  line-height: 1em;
  font-size: 1.5rem;
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  font-style: normal;
  padding: 13px 0 13px 0;
}
.mod-simple-form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px 0 15px;
  color: #09315A;
  line-height: normal;
}
.mod-simple-form input:focus {
  background-color: #FFFFFF !important;
}
.mod-simple-form input::-ms-clear {
  display: none;
}
.mod-simple-form .send,
.mod-simple-form .send span {
  position: relative;
  top: 0;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  width: auto;
}
.mod-simple-form .send span {
  padding: 0 20px 0 20px;
}
.mod-simple-form .send span:last-of-type {
  position: absolute;
  width: 100%;
  padding: 0;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
body.desktop .mod-simple-form .send:not(.disabled):hover span:last-of-type, body.desktop .mod-simple-form .send:not(.disabled):active span:last-of-type, body.desktop .mod-simple-form .send:not(.disabled):focus span:last-of-type, .mod-simple-form .send:not(.disabled).selected span:last-of-type {
  opacity: 0;
}
.mod-simple-form .send:not(.disabled).selected {
  cursor: default;
}

@media (max-device-width: 1200px), (max-width: 1200px) {
  .mod-grid .item {
    width: calc(1/2*100% - (1 - 1/2)*20px);
  }
}
@media (max-device-width: 767px), (max-width: 767px) {
  .mod-grid .item {
    width: 100%;
  }
}
.home .mod-top-big-poster .mod-simple-form {
  position: relative;
  top: calc(50% - 50px);
  left: 50%;
  width: 660px;
  max-width: 90%;
  z-index: 99999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rent .filters {
  width: 100%;
  height: 150px;
  background-color: #E4E5E6;
  margin: 0 0 5% 0;
}

.rent .mod-grid {
  padding-bottom: 30px;
}
.rent .mod-grid .item {
  cursor: default;
}
.rent .mod-grid .item .wrapper {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  padding-bottom: 50px;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
body.desktop .rent .mod-grid .item:not(.disabled):hover .wrapper, body.desktop .rent .mod-grid .item:not(.disabled):active .wrapper, body.desktop .rent .mod-grid .item:not(.disabled):focus .wrapper, .rent .mod-grid .item:not(.disabled).selected .wrapper {
  background-color: inherit !important;
}
.rent .mod-grid .item:not(.disabled).selected {
  cursor: default;
}
.rent .mod-grid .slider-thumbs {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.rent .mod-grid .slider-thumbs .add-to-favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 12.5%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  z-index: 99999;
  overflow: hidden;
  display: block;
}
.rent .mod-grid .slider-thumbs .add-to-favorite span,
.rent .mod-grid .slider-thumbs .add-to-favorite span:before {
  float: none;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  display: block;
}
.rent .mod-grid .slider-thumbs .add-to-favorite span {
  font-size: 0;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
body.desktop .rent .mod-grid .slider-thumbs .add-to-favorite:not(.disabled):hover span, body.desktop .rent .mod-grid .slider-thumbs .add-to-favorite:not(.disabled):active span, body.desktop .rent .mod-grid .slider-thumbs .add-to-favorite:not(.disabled):focus span, .rent .mod-grid .slider-thumbs .add-to-favorite:not(.disabled).selected span {
  color: inherit !important;
}
.rent .mod-grid .slider-thumbs .add-to-favorite:not(.disabled).selected {
  cursor: default;
}
.rent .mod-grid .slider-thumbs .slider,
.rent .mod-grid .slider-thumbs .slick-list {
  position: relative;
  top: 0;
  left: 0;
}
.rent .mod-grid .slider-thumbs .slider {
  height: auto;
}
.rent .mod-grid .slider-thumbs .slider .slick-list {
  z-index: 99990;
  padding-bottom: 56.25%;
}
.rent .mod-grid .slider-thumbs .slider .slick-list .slick-track {
  position: absolute;
}
.rent .mod-grid .slider-thumbs .slider .slick-list .slick-track li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rent .mod-grid .slider-thumbs .slider .button.left, .rent .mod-grid .slider-thumbs .slider .button.right {
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 12.5%;
  height: 100%;
  font-size: 0;
  text-decoration: none;
  display: block;
}
.rent .mod-grid .slider-thumbs .slider .button span {
  position: absolute;
  left: calc(50% - 6px);
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-left: 3px solid #FFFFFF;
  border-top: 3px solid #FFFFFF;
}
.rent .mod-grid .slider-thumbs .slider .button.left {
  left: 0;
}
.rent .mod-grid .slider-thumbs .slider .button.left span {
  -webkit-transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  transform: rotate(320deg);
}
.rent .mod-grid .slider-thumbs .slider .button.right {
  right: 0;
}
.rent .mod-grid .slider-thumbs .slider .button.right span {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.rent .mod-grid .slider-thumbs .thumbs {
  width: 100%;
  height: auto;
}
.rent .mod-grid .slider-thumbs .thumbs li {
  float: left;
  width: 12.5%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: calc(100% + 5px);
  overflow: hidden;
  display: block;
}
.rent .mod-grid .slider-thumbs .thumbs li:nth-child(8n+8) {
  overflow: visible;
}
.rent .mod-grid .slider-thumbs .thumbs li a {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-size: 0;
  text-decoration: none;
  padding-bottom: 56.25%;
  display: block;
}
.rent .mod-grid .slider-thumbs .thumbs li a span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border: #33BAF1 solid 3px;
  display: block;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
body.desktop .rent .mod-grid .slider-thumbs .thumbs li a:not(.disabled):hover span:last-of-type, body.desktop .rent .mod-grid .slider-thumbs .thumbs li a:not(.disabled):active span:last-of-type, body.desktop .rent .mod-grid .slider-thumbs .thumbs li a:not(.disabled):focus span:last-of-type, .rent .mod-grid .slider-thumbs .thumbs li a:not(.disabled).selected span:last-of-type {
  opacity: 1;
}
.rent .mod-grid .slider-thumbs .thumbs li a:not(.disabled).selected {
  cursor: default;
}
.rent .mod-grid .slider-thumbs .thumbs li:last-of-type span:first-of-type {
  opacity: 1;
}
.rent .mod-grid .slider-thumbs .thumbs li:last-of-type span:last-of-type {
  opacity: 0;
}
.rent .mod-grid .slider-thumbs .thumbs li:last-of-type span {
  border: none;
  width: calc(100% + 2px);
}
.rent .mod-grid .slider-thumbs .thumbs li:last-of-type span:after {
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  text-align: center;
  line-height: 5px;
  content: '\B7\B7\B7';
  font-size: 2rem;
  color: #FFFFFF;
  /* Translate */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rent .mod-grid .details {
  padding: 5%;
  width: 100%;
  height: auto;
}
.rent .mod-grid .details .title,
.rent .mod-grid .details .subtitle,
.rent .mod-grid .details .contact {
  padding: 0 0 5% 0;
  width: 100%;
  height: auto;
  line-height: 1em;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  font-style: normal;
  display: block;
}
.rent .mod-grid .details .subtitle span {
  font-size: 1.5rem;
  display: block;
}
.rent .mod-grid .details .contact {
  position: absolute;
  bottom: 0;
  left: 5%;
  line-height: 1.2em;
  font-size: 1rem;
  width: auto;
}
.rent .mod-grid .details .contact a {
  display: block;
}
.rent .mod-grid .details .title a,
.rent .mod-grid .details .contact a {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
body.desktop .rent .mod-grid .details .title a:not(.disabled):hover, body.desktop .rent .mod-grid .details .title a:not(.disabled):active, body.desktop .rent .mod-grid .details .title a:not(.disabled):focus, .rent .mod-grid .details .title a:not(.disabled).selected, body.desktop
.rent .mod-grid .details .contact a:not(.disabled):hover, body.desktop
.rent .mod-grid .details .contact a:not(.disabled):active, body.desktop
.rent .mod-grid .details .contact a:not(.disabled):focus,
.rent .mod-grid .details .contact a:not(.disabled).selected {
  color: inherit !important;
}
.rent .mod-grid .details .title a:not(.disabled).selected,
.rent .mod-grid .details .contact a:not(.disabled).selected {
  cursor: default;
}
.rent .mod-grid .details .description {
  padding: 0 0 5% 0;
  width: 100%;
  height: auto;
  font-size: 0.95rem;
  line-height: 1.2em;
  display: block;
}
.rent .mod-grid .details .view {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 5%;
  display: inline-block;
}
.rent .mod-grid .details .view span {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  line-height: 32px;
  padding: 0 15px 0 15px;
  border: #33BAF1 solid 4px;
  opacity: 1;
  display: block;
  -webkit-transition: opacity 0.25s ease, border-color 0.25s ease;
  -moz-transition: opacity 0.25s ease, border-color 0.25s ease;
  -ms-transition: opacity 0.25s ease, border-color 0.25s ease;
  -o-transition: opacity 0.25s ease, border-color 0.25s ease;
  transition: opacity 0.25s ease, border-color 0.25s ease;
}
.rent .mod-grid .details .view span:last-of-type {
  position: relative;
  border: #6789B2 solid 4px;
}
body.desktop .rent .mod-grid .details .view:not(.disabled):hover span:last-of-type, body.desktop .rent .mod-grid .details .view:not(.disabled):active span:last-of-type, body.desktop .rent .mod-grid .details .view:not(.disabled):focus span:last-of-type, .rent .mod-grid .details .view:not(.disabled).selected span:last-of-type {
  opacity: 0;
}
.rent .mod-grid .details .view:not(.disabled).selected {
  cursor: default;
}
