/* RESET STYLES */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
body {
	line-height: 1;
}
:focus {
	outline: 0;
}
ol, ul {
	list-style: none;
}
img {
	display: block;
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	cursor: pointer;
	text-decoration: none;
}
i, em {
	font-style: italic;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* HTML AND BODY */
html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #F6F6F6;
	font-family: Helvetica, Arial, 'sans-serif';
	display: block;
	
	/* Overflow */
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;

	/* Font smoothing */
	-webkit-font-smoothing: antialiased;
	
	/* Smooth scrolling */
	-webkit-overflow-scrolling: touch; /* smooth scrolling on native IOS */
}

/* CLEARFIX */
.clearfix:after {
	content: ".";
	height: 0;
	font-size: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

/* MAIN */
.main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	
	/* Smooth scrolling */
	-webkit-overflow-scrolling: touch; /* smooth scrolling on native IOS */
	transform: translate3d(0, 0, 0);
}

/* MAIN : HEADER */
.main .header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	display: block;
}

/* MAIN : HEADER : LOGO LINK*/
.main .header .logo-link {
	clear: both;
	width: 500px;
	height: 100px;
	font-size: 1pt;
	text-decoration: none;
	background-image: url(../css/images/image-0001.png);
	background-position: center left;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
}

/* MAIN : HEADER : TOP BAR */
.main .header .top-bar {
	float: left;
	width: 100%;
	height: 50px;
	display: block;
}

/* MAIN : HEADER : TOP BAR : LANGUAGES */
.main .header .top-bar .languages {
	float: right;
	width: auto;
	height: 50px;
	line-height: 50px;
	display: block;
}
.main .header .top-bar .languages {
	padding: 0 10px 0 0;
}
.main .header .top-bar .languages * {
	float: left;
	width: auto;
	height: 50px;
	line-height: 50px;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	display: block;
}
.main .header .top-bar .languages li a {
	position: relative;
	top: 0;
	left: 0;
}
.main .header .top-bar .languages li .selected {
	cursor: default;
}
.main .header .top-bar .languages li a span:first-of-type,
.main .header .top-bar .languages li a span:last-of-type {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 0 10px 0 10px;
	
	/* Transition */
	-webkit-transition: opacity 0.25s ease; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: opacity 0.25s ease; /* Firefox < 16 */
	-ms-transition: opacity 0.25s ease; /* Internet Explorer */
	-o-transition: opacity 0.25s ease; /* Opera < 12.1 */
	transition: opacity 0.25s ease;
}
.main .header .top-bar .languages li a span:last-of-type {
	opacity: 1;
	position: relative;
}
.main .header .top-bar .languages li a:hover span:first-of-type {
	opacity: 1;
}
.main .header .top-bar .languages li a:hover span:last-of-type {
	opacity: 0;
}
.main .header .top-bar .languages li .selected span:first-of-type {
	opacity: 1;
}
.main .header .top-bar .languages li .selected span:last-of-type {
	opacity: 0;
}

/* MAIN : CONTENT */
.main .content,
.main .content .centered {
	clear: both;
	width: 100%;
	height: auto;
	padding: 0 10% 0 10%;
	display: block;
}
.main .content .centered {
	padding: 0;
	max-width: 1440px;
	margin: 0 auto;
}

/* COLORS */
.fn-white {	color: #FFFFFF; }
.bg-white {	background-color: #FFFFFF; }
.fn-purple { color: #927BB4; }
.bg-purple { background-color: #927BB4; }
.fn-cove-blue {	color: #6789B2; }
.bg-cove-blue {	background-color: #6789B2; }
.fn-eastern-blue { color: #1C7EBE; }
.bg-eastern-blue { background-color: #1C7EBE; }
.fn-chathams-blue {	color: #16487B; }
.bg-chathams-blue {	background-color: #16487B; }
.bg-eastern-blue { background-color: #1C7EBE; }
.fn-madison-blue { color: #09315A; }
.bg-madison-blue { background-color: #09315A; }
.fn-picton-blue { color: #33BAF1; }
.bg-picton-blue { background-color: #33BAF1; }
.fn-astral-blue { color: #3B8D99; }
.bg-astral-blue { background-color: #3B8D99; }
.fn-cucumber-green { color: #86B14F; }
.bg-cucumber-green { background-color: #86B14F; }
.fn-golden-yellow { color: #86B14F; }
.bg-golden-yellow { background-color: #86B14F; }
.fn-flame-red { color: #DA592A; }
.bg-flame-red { background-color: #DA592A; }
.fn-mystic-gray { color: #DBE4E8; }
.bg-mystic-gray { background-color: #DBE4E8; }

/* RESPONSIVE */
@media (max-device-width: 1200px), (max-width: 1200px) { /* up to 1200px */
	/* TBD */
}
@media (max-device-width: 900px), (max-width: 900px) { /* up to 900px */
	.main .header .top-bar .languages {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 0 0 10px;
	}
	.main h1 br,
	.main h2 br,
	.main h3 br,
	.main h4 br,
	.main h5 br,
	.main h6 br {
		display: none;
	}
}