.rent-detail .two-columns {
  clear: both;
  width: 100%;
  height: auto;
}
.rent-detail .two-columns .block {
  width: 100%;
  padding: 30px;
  margin: 0 0 20px 0;
}
.rent-detail .two-columns .block .title,
.rent-detail .two-columns .block .subtitle {
  padding: 0 0 2% 0;
  width: 100%;
  height: auto;
  line-height: 1em;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  font-style: normal;
  display: block;
}
.rent-detail .two-columns .block .title span {
  font-style: italic;
  font-size: 0.8rem;
  display: inline-block;
}
.rent-detail .two-columns .block .subtitle {
  font-size: 1rem;
}
.rent-detail .two-columns .block .subtitle span {
  font-size: 1.5rem;
  line-height: 1em;
  display: block;
}
.rent-detail .two-columns .block .text {
  width: 100%;
  height: auto;
  font-size: 0.95rem;
  line-height: 1.2em;
  display: block;
}
.rent-detail .two-columns .column.left {
  float: left;
  width: 60%;
}
.rent-detail .two-columns .column.right {
  float: right;
  width: 40%;
}
.rent-detail .two-columns .column.right .block {
  padding: 0 30px 30px 30px;
}
.rent-detail .two-columns .column.bottom {
  float: left;
  width: 60%;
}
