.rent-detail .wrapper {
  clear: both;
  width: 100%;
  height: auto;
}
.rent-detail .wrapper .block {
  width: 100%;
}
.rent-detail .wrapper .block.padded {
  padding: 30px;
}
.rent-detail .wrapper .block.left {
  float: left;
  width: 60%;
}
.rent-detail .wrapper .block.right {
  float: right;
  width: 40%;
}
.rent-detail .wrapper .block .contact-form,
.rent-detail .wrapper .block .contact-form * {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  height: auto;
  display: block;
}
.rent-detail .wrapper .block .contact-form {
  width: 100%;
  backface-visibility: hidden;
}
.rent-detail .wrapper .block .contact-form form,
.rent-detail .wrapper .block .contact-form fieldset,
.rent-detail .wrapper .block .contact-form input {
  width: 100%;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  background: none;
  background-image: none;
}
.rent-detail .wrapper .block .contact-form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 15px 0 15px;
  margin: 0 0 10px 0;
  color: #09315A;
  line-height: normal;
  height: 60px;
}
.rent-detail .wrapper .block .contact-form input:focus {
  background-color: #FFFFFF !important;
}
.rent-detail .wrapper .block .contact-form input::-ms-clear {
  display: none;
}
.rent-detail .wrapper .block .title,
.rent-detail .wrapper .block .subtitle {
  padding: 0 0 2% 0;
  width: 100%;
  height: auto;
  line-height: 1em;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  font-style: normal;
  display: block;
}
.rent-detail .wrapper .block .title span {
  font-style: italic;
  font-size: 0.8rem;
  display: inline-block;
}
.rent-detail .wrapper .block .subtitle {
  font-size: 1rem;
}
.rent-detail .wrapper .block .subtitle span {
  font-size: 1.5rem;
  line-height: 1em;
  display: block;
}
.rent-detail .wrapper .block .text {
  width: 100%;
  height: auto;
  font-size: 0.95rem;
  line-height: 1.2em;
  display: block;
}
