.DS_Store

core_app/cache/*
!core_app/cache/index.html

core_app/logs/*
!core_app/logs/index.html

!core_app/*/.htaccess

composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/git-hook-devon
/.editorconfig
