/* COLORS */
$color_white: #FFFFFF;
$color_purple: #927BB4;
$color_cove-blue: #6789B2;
$color_eastern-blue: #1C7EBE;
$color_chathams-blue: #16487B;
$color_eastern-blue: #1C7EBE;
$color_madison-blue: #09315A;
$color_picton-blue: #33BAF1;
$color_astral-blue: #3B8D99;
$color_cucumber-green: #86B14F;
$color_golden-yellow: #86B14F;
$color_flame-red: #DA592A;
$color_mystic-gray: #DBE4E8;
$color_sand-gray: #F6F6F6;