// RESET STYLES
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; // For some Androids
}
body {
	line-height: 1;
}
:focus {
	outline: 0;
}
ol, ul {
	list-style: none;
}
img {
	display: block;
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	cursor: pointer;
	text-decoration: none;
}
i, em {
	font-style: italic;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
::-webkit-contacts-auto-fill-button {
	visibility: hidden;
	display: none !important;
	position: absolute;
	right: 0;
}

// HTML AND BODY
html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #FFFFFF;
	font-size: 100%;
	font-family: Arial, 'sans-serif';
	display: block;
	
	// Overflow
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;

	// Font smoothing
	-webkit-font-smoothing: antialiased;
	
	// Smooth scrolling
	-webkit-overflow-scrolling: touch; // smooth scrolling on native IOS
}

// CLEARFIX
.clearfix:after {
	content: ".";
	height: 0;
	width: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
	opacity: 0;
	display: block;
}

// HOVER
@mixin on-hover {
	&:not(.disabled) {
		body.desktop &:hover,
		body.desktop &:active,
		body.desktop &:focus,
		&.selected {
			@content;
		}
		&.selected {
			cursor: default;
		}
	}
}

// COLORS
.fnca {	color: #FFFFFF !important; }
.bgca {	background-color: #FFFFFF !important; }
.fncb { color: #927BB4 !important; }
.bgcb { background-color: #927BB4 !important; }
.fncc {	color: #6789B2 !important; }
.bgcc {	background-color: #6789B2 !important; }
.fncd { color: #1C7EBE !important; }
.bgcd { background-color: #1C7EBE !important; }
.fnce {	color: #16487B !important; }
.bgce {	background-color: #16487B !important; }
.fncf { color: #09315A !important; }
.bgcf { background-color: #09315A !important; }
.fncg { color: #33BAF1 !important; }
.bgcg { background-color: #33BAF1 !important; }
.fnch { color: #3B8D99 !important; }
.bgch { background-color: #3B8D99 !important; }
.fnci { color: #86B14F !important; }
.bgci { background-color: #86B14F !important; }
.fncj { color: #C7C7C7 !important; }
.bgcj { background-color: #C7C7C7 !important; }
.fnck { color: #DA592A !important; }
.bgck { background-color: #DA592A !important; }
.fncl { color: #DBE4E8 !important; }
.bgcl { background-color: #DBE4E8 !important; }
.fncm { color: #F6F6F6 !important; }
.bgcm { background-color: #F6F6F6 !important; }
.fncn { color: #000000 !important; }
.bgcn { background-color: #000000 !important; }

// COOKIES
.cookies {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 50px;
	display: none;
	
	p {
		width: 100%;
		height: auto;
		font-size: 0.95rem;
		line-height: 1.2em;
		padding-bottom: 25px;
		display: block;
		
		a {
			font-weight: bold;
			
			span {
				// Transition
				-webkit-transition: color 0.25s ease;
				-moz-transition: color 0.25s ease;
				-ms-transition: color 0.25s ease;
				-o-transition: color 0.25s ease;
				transition: color 0.25s ease;
			}
			
			@include on-hover {
				span {
					color: inherit !important;
				}
			}
		}
	}
	
	.button,
	.button span {
		position: relative;
		top: 0;
		left: 0;
		border-radius: 5px;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-family: 'ProximaNova-Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 1.2rem;
		width: auto;
		height: 50px;
		line-height: 50px;
		display: inline-block;
	}

	.button {
		float: right;
		overflow: hidden;
		
		span {
			padding: 0 20px 0 20px;

			&:last-of-type {
				position: absolute;
				width: 100%;
				padding: 0;
				opacity: 1;

				// Transition
				-webkit-transition: opacity 0.25s ease;
				-moz-transition: opacity 0.25s ease;
				-ms-transition: opacity 0.25s ease;
				-o-transition: opacity 0.25s ease;
				transition: opacity 0.25s ease;
			}
		}
		@include on-hover {
			span:last-of-type {
				opacity: 0;
			}
		}
	}
}
.cookies.visible {
	display: block;
}

// MAIN
.main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	
	// Smooth scrolling
	-webkit-overflow-scrolling: touch; // smooth scrolling on native IOS
	//transform: translate3d(0, 0, 0);
}

// MAIN : HEADER
.main .header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 999999;
	display: block;
	
	.content {
		position: relative;
		top: 0;
		left: 0;
		/*position: -webkit-sticky;
		position: sticky;*/
		height: 100px;
	}
	
	.logo-link {
		clear: both;
		width: 188px;
		height: 100%;
		font-size: 0;
		text-decoration: none;
		background-image: url(../css/images/image-0001.png);
		background-position: center left;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
	}

	.top-bar {
		float: left;
		width: 100%;
		height: 50px;
		display: block;
		
		.languages,
		.languages * {
			float: left;
			width: auto;
			height: 50px;
			line-height: 50px;
			list-style: none;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 0.8rem;
			font-weight: normal;
			font-style: normal;
			display: block;
		}
		
		.languages {
			float: right;
			padding: 0 10px 0 0;
			
			li a {
				position: relative;
				top: 0;
				left: 0;
				
				span {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 1;
					padding: 0 10px 0 10px;

					// Transition
					-webkit-transition: opacity 0.25s ease;
					-moz-transition: opacity 0.25s ease;
					-ms-transition: opacity 0.25s ease;
					-o-transition: opacity 0.25s ease;
					transition: opacity 0.25s ease;
				}
				
				span:last-of-type {
					position: relative;
				}
				
				@include on-hover {
					span:last-of-type {
						opacity: 0;
					}
				}
			}
			
		}
	}
}

// MAIN : CONTENT, MAIN : FOOTER
.main .content,
.main .padded-wrap,
.main .wrap,
.main .footer {
	clear: both;
	width: 90%;
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	display: block;
}
.main {
	.padded-wrap {
		padding: 0 5% 0 5%;
		width: 100%;
	}
	.wrap {
		width: 100%;
	}
}

// MAIN : BREADCRUMB
.main .breadcrumb,
.main .breadcrumb * {
	float: left;
	width: auto;
	height: auto;
	line-height: 1.2em;
	text-decoration: none;
	font-size: 0.95rem;
	display: block;
}
.main .breadcrumb {
	padding: 10px 0px 10px 0px;
	
	li {
		a {
			position: relative;
			top: 0;
			left: 0;
			padding: 6px 0 6px 0;
			overflow: hidden;

			span {
				// Transition
				-webkit-transition: color 0.25s ease;
				-moz-transition: color 0.25s ease;
				-ms-transition: color 0.25s ease;
				-o-transition: color 0.25s ease;
				transition: color 0.25s ease;
			}
			span.text {
				padding: 0 28px 0 0px;
			}
			span.arrow {
				position: absolute;
				right: 12px;
				top: calc(50% - 4px);
				width: 8px;
				height: 8px;
				font-size: 0;
				border-left: 3px solid #6789B2;
				border-top: 3px solid #6789B2;

				// Rotate
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			
			@include on-hover {
				span {
					color: inherit !important;
				}
			}
		}

		&:last-of-type a span.text {
			font-weight: bold;
		}
	}
}

// MAIN : FOOTER
.main .footer {
	padding: 50px 5% 50px 5%;
	max-width: none;
	width: 100%;
	
	// PRIMARY
	.primary * {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-decoration: none;
		font-size: 1.5rem;
		font-family: 'ProximaNova-Bold';
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
		display: block;
	}
	
	.primary {
		border-bottom: #C7C7C7 solid 1px;
		overflow: hidden;
		height: auto;
	
		li {
			float: left;
			width: auto;
			border-right: #C7C7C7 solid 1px;
			overflow: hidden;
			
			&:last-of-type {
				border-right: none;
			}
			
			& a,
			& a span {
				width: auto;
				position: relative;
				top: 0;
				left: 0;
			}
		
			& a span {
				padding: 0 20px 0 20px;
				position: relative;
				top: 0;
				left: 0;
				opacity: 1;

				// Transition
				-webkit-transition: opacity 0.25s ease;
				-moz-transition: opacity 0.25s ease;
				-ms-transition: opacity 0.25s ease;
				-o-transition: opacity 0.25s ease;
				transition: opacity 0.25s ease;

				&:last-of-type {
					position: absolute;
				}

				@include on-hover {
					&:last-of-type {
						opacity: 0;
					}
				}
			}
		}
	}
	
	// SECONDARY
	.secondary,
	.secondary * {
		width: auto;
		height: auto;
		line-height: 1em;
		min-height: 20px;
		list-style: none;
		text-decoration: none;
		font-size: 1rem;
		font-weight: normal;
		font-style: normal;
		display: block;
	}
	.secondary {
		float: left;
		width: 66%;
		
		li,
		li h1 {
			float: left;
		}
		li h1 {
			float: none;
			min-height: 40px;
			font-family: 'ProximaNova-Regular';
			text-transform: uppercase;
			font-size: 1.5rem;
		}
		li {
			width: 50%;
			padding: 48px 0 0 20px;
			
			li {
				float: none;
				text-transform: none;
				width: auto;
				margin: 11px 0 11px 0;
				padding: 0;

				a {
					display: inline-block;

					// Transition
					-webkit-transition: color 0.25s ease;
					-moz-transition: color 0.25s ease;
					-ms-transition: color 0.25s ease;
					-o-transition: color 0.25s ease;
					transition: color 0.25s ease;
					
					@include on-hover {
						text-decoration: underline;
						color: inherit !important;
					}
				}
			}
			
			li:last-of-type {
				margin: 10px 0 0 0;
			}
		}
	}
	
	// NEWSLETTER
	.mod-simple-form {
		float: right;
		width: 33%;
		padding-right: 20px;
		
		h1 {
			line-height: 1em;
			font-size: 1.5rem;
			font-family: 'ProximaNova-Regular';
			font-weight: normal;
			font-style: normal;
			padding: 48px 0 37px 0;
			text-transform: uppercase;
		}
	}
	
	// BOTTOM TEXT
	.bottom-text {
		clear: both;
		width: 100%;
		height: auto;
		padding: 40px 5% 0 5%;
		
		p {
			width: 100%;
			line-height: 1em;
			font-size: 1rem;
			font-family: 'ProximaNova-Regular';
			font-weight: normal;
			font-style: normal;
			text-align: center;
		}
	}
}

// RESPONSIVE
@media (max-device-width: 1440px), (max-width: 1440px) { // up to 1440px
	// MAIN : FOOTER
	.main .footer {
		// SECONDARY
		.secondary {
			width: 60%;
		}
		
		.mod-simple-form {
			width: 40%;
		}
	}
	
	// COOKIES
	.cookies {
		padding: 5%;
	}
}
@media (max-device-width: 1200px), (max-width: 1200px) { // up to 1200px
	// MAIN : FOOTER
	.main .footer {
		
		// SECONDARY
		.secondary {
			width: 55%;
		}
		
		// NEWSLETTER
		.mod-simple-form {
			width: 45%;
		}
	}
}
@media (max-device-width: 1024px), (max-width: 1024px) { // up to 1024px
	// MAIN : FOOTER
	.main .footer {
		
		// PRIMARY, SECONDARY
		.primary *,
		.secondary li h1,
		.mod-simple-form h1 {
			font-size: 1.3rem;
		}
		
		// SECONDARY
		.secondary {
			width: 40%;
			li {
				width: 100%;
				clear: both;
			}
		}
		
		// NEWSLETTER
		.mod-simple-form {
			width: 60%;
		}
	}
}
@media (max-device-width: 767px), (max-width: 767px) { // up to 767px
	// MAIN
	.main {
		/*margin-top: 100px;*/
		
		// BREAKLINES
		h1 br,
		h2 br,
		h3 br,
		h4 br,
		h5 br,
		h6 br {
			display: none;
		}
		
		// HEADER
		.header {
			position: sticky;

			// CONTENT
			.content {
				height: 50px;

				// LOGO
				.logo-link {
					width: 100%;
					background-position: center center;
				}
			}
			
			// LANGUAGES
			.top-bar .languages {
				position: absolute;
				top: 0;
				left: 0;
				padding: 0 0 0 10px;
			}
		}
	
		// FOOTER
		.footer {
			padding: 50px 0 50px 0;
			width: 100%;

			.wrap {
				width: 100%;
			}

			// PRIMARY
			.primary {
				border-bottom: none;

				li {
					border-right: none;
					border-bottom: #C7C7C7 solid 1px;
					float: none;

					a span {
						width: 100%;
						padding: 0 5% 0 5%;
					}
				}
			}

			// SECONDARY
			.secondary {
				width: 100%;

				li {
					padding: 48px 0 0 5%;
				}
			}

			// NEWSLETTER
			.mod-simple-form {
				float: none;
				clear: both;
				width: calc(100% - 5%);
				padding: 0 0 0 5%;
			}
		}
	
		//  BREADCRUMB
		.breadcrumb,
		.breadcrumb * {
			font-size: 1.5rem;
			line-height: 1em;
			font-family: 'ProximaNova-Bold';
			font-weight: bold;
			font-style: normal;
		}
		.breadcrumb li {
			display: none;

			a span.text {
				padding: 0;
			}

			&:last-of-type {
				display: block;
			}
		}
	}
}
@media (max-device-width: 680px), (max-width: 680px) { // up to 680px
	// TBD
}