// TOP BIG POSTER
.mod-top-big-poster {
	width: 100%;
	height: calc(100% - 150px); // minus header height
	background-image: none;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $colorc;
}

// CLOUD ITEMS
.mod-tags-cloud,
.mod-grid-tags-cloud {
	
	h1 {
		clear: both;
		line-height: 31px;
		font-family: 'ProximaNova-Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 0.95rem;
		text-transform: uppercase;
	}
	
	h1, .item {
		float: left;
		color: $colorc;
		margin: 0 8px 8px 0;
	}
	
	ul {
		clear: both;
	}
	
	ul, li {
		width: 100%;
		height: auto;
	}
	
	li {
		float: left;
		width: calc(1/5*100%);
		
		a {
			width: calc(100% - 18px);
		}
	}
	
	.item {
		line-height: 29px;
		font-size: 0.85rem;
		font-family: 'ProximaNova-Regular';
		font-weight: normal;
		font-style: normal;
		padding: 0 8px 0 27px;
		text-decoration: none;
		background-image: url(../css/images/image-0004.png);
		background-position: 0px -60px;
		background-repeat: no-repeat;
		background-color: $coloro;
		border: $colorj solid 1px;
		text-overflow: ellipsis;
		min-width: 100px;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		
		// Transition
		-webkit-transition: color 0.25s ease, background-color 0.25s ease;
		-moz-transition: color 0.25s ease, background-color 0.25s ease;
		-ms-transition: color 0.25s ease, background-color 0.25s ease;
		-o-transition: color 0.25s ease, background-color 0.25s ease;
		transition: color 0.25s ease, background-color 0.25s ease;
		
		// Border radius
		//border-radius: 3px;
		
		@include on-hover {
			color: $colorg;
			background-color: $colora;
			background-position: 0px -90px;
		}
	}
}
.mod-grid-tags-cloud {
	width: 100%;
	
	.item {
		margin: 0 0px 8px 0;
		padding: 0 8px 0 27px;
		background-image: url(../css/images/image-0004.png);
		background-color: $colora;
		background-position: 0px 0px;
		border: $coloro solid 1px;
		
		@include on-hover {
			//color: $colorc;
			background-position: 0px -30px;
		}
		
		&.checked,
		&.checked:focus {
			color: $colorc;
			background-color: $coloro;
			background-position: 0px -60px;
			border: $colorj solid 1px;
		}
	}
}

// GRID
.mod-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	
	.item {
		margin-bottom: 20px;
		width: calc(1/3*100% - (1 - 1/3)*20px);
		height: auto;
		overflow: hidden;
		background-color: $colord;
	}
}

// SIMPLE FORM
.mod-simple-form,
.mod-simple-form * {
	margin: 0;
	padding: 0;
	border: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	outline: none;
	line-height: 60px;
	height: 60px;
	display: block;
}

.mod-simple-form {
	width: 100%;
	height: auto;
	backface-visibility: hidden;
	
	div {
		vertical-align: top;
		display: table-cell;
		
		&:first-of-type {
			width: 100%;
		}
	}

	form,
	fieldset,
	input {
		width: 100%;
		font-weight: normal;
		font-style: normal;
		font-size: 1rem;
		background: none;
		background-image: none;
	}

	h1 {
		height: auto;
		line-height: 1em;
		font-size: 1.5rem;
		font-family: 'ProximaNova-Bold';
		font-weight: bold;
		font-style: normal;
		padding: 13px 0 13px 0;
		color: $colora;
	}

	input {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 0 15px 0 15px;
		color: $colorf;
		line-height: normal;
		background-color: $colorl;
		
		&:focus {
			background-color: $colora !important;
		}
		&::-ms-clear {
			display: none;
		}
	}

	.send,
	.send span {
		position: relative;
		top: 0;
		left: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-family: 'ProximaNova-Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 1.2rem;
		width: auto;
	}

	.send span:first-of-type {
		background-color: $colore;
	}
	
	.send span:last-of-type {
		background-color: $colorg;
	}
	
	.send {
		color: $colora;
		
		span {
			padding: 0 20px 0 20px;
			
			&:last-of-type {
				position: absolute;
				width: 100%;
				padding: 0;

				opacity: 1;

				// Transition
				-webkit-transition: opacity 0.25s ease;
				-moz-transition: opacity 0.25s ease;
				-ms-transition: opacity 0.25s ease;
				-o-transition: opacity 0.25s ease;
				transition: opacity 0.25s ease;
			}
		}
		@include on-hover {
			span:last-of-type {
				opacity: 0;
			}
		}
	}
}

// MODAL
.mod-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.85);
	
	.wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90%;
		max-width: 500px;
		height: auto;
		background-color: $colora;
		padding: 50px 0 0 0 !important;
		
		// Transform
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translate3d(-50%, -50%, 0);
		-o-transform: translate3d(-50%, -50%, 0);
		transform: translate3d(-50%, -50%, 0);
		
		a.close-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-decoration: none;
			color: $colorg;
			overflow: hidden;
			display: block;
			
			span,
			span:before {
				float: none;
				width: 100%;
				height: 100%;
				line-height: 50px;
				text-align: center;
				display: block;
			}
			
			span {
				font-size: 0;
				color: $colorc;

				// Transition
				-webkit-transition: color 0.25s ease;
				-moz-transition: color 0.25s ease;
				-ms-transition: color 0.25s ease;
				-o-transition: color 0.25s ease;
				transition: color 0.25s ease;
			}
			
			@include on-hover {
				span {
					color: inherit !important;
				}
			}
		}
		
		.content {
			width: 90%;
			height: auto;
			margin: 0 auto;
		}
	}
}
.mod-modal.visible {
	display: block;
}

// SELECT GRID
.mod-select-grid,
.mod-select-grid * {
	width: auto;
	font-size: 0.95rem;
	text-decoration: none;
	text-align: left;
	display: block;
}
.mod-select-grid {
	float: left;
	height: 57px;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: $colora;
	
	// Transition
	-webkit-transition: height 0.25s ease;
	-moz-transition: height 0.25s ease;
	-ms-transition: height 0.25s ease;
	-o-transition: height 0.25s ease;
	transition: height 0.25s ease;
	
	ul, li, a {
		// Transition
		-webkit-transition: border-color 0.25s ease, color 0.25s ease;
		-moz-transition: border-color 0.25s ease, color 0.25s ease;
		-ms-transition: border-color 0.25s ease, color 0.25s ease;
		-o-transition: border-color 0.25s ease, color 0.25s ease;
		transition: border-color 0.25s ease, color 0.25s ease;
	}
	
	li, a {
		position: relative;
		height: 56px;
		line-height: 56px;
		text-transform: uppercase;
		font-family: 'ProximaNova-Bold';
		font-weight: bold;
		color: $colorg;
	}
	li a {
		border-top: $coloro solid 1px;
		border-left: $coloro solid 1px;
		border-right: $coloro solid 1px;
		font-size: 0.95rem;
		padding: 0 40px 0 15px;
		position: relative;
		top: 0;
		left: 0;
		color: $colorc;
		text-overflow: ellipsis;
		min-width: 100px;
		white-space: nowrap;
		overflow: hidden;
		
		@include on-hover {
			color: inherit!important;
		}
		
		span.arrow {
			position: absolute;
			right: 16px;
			top: calc(50% - 6px);
			width: 8px;
			height: 8px;
			font-size: 0;
			border-left: 3px solid $colorc;
			border-top: 3px solid $colorc;

			// Rotate
			-webkit-transform: rotate(225deg);
			-moz-transform: rotate(225deg);
			-ms-transform: rotate(225deg);
			-o-transform: rotate(225deg);
			transform: rotate(225deg);
		}
	}

	ul {
		position: absolute;
		border-left: $coloro solid 1px;
		border-bottom: $coloro solid 1px;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		width: 100%;

		li, a {
			height: 40px;
			line-height: 40px;
			font-family: 'ProximaNova-Regular';
			font-weight: normal;
			font-style: normal;
			font-size: 0.8rem;
			text-transform: none;
		}
		li {
			border-right: $coloro solid 1px;
			border-top: $coloro solid 1px;
			display: flex;
			flex-basis: 50%;

			a {
				border-top: none;
				border-left: none;
				border-right: none;
				width: 100%;
				text-align: center;
				padding: 0;
				min-width: 0;
				white-space: normal;
			}
		}
	}
	
	@include on-hover {
		ul, li, a {
			border-color: $colorj;
		}
	}
	
	&.active {
		li a span.arrow {
			top: calc(50% - 2px);

			// Rotate
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

// SELECT
.mod-select,
.mod-select * {
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 0.95rem;
	text-decoration: none;
	text-align: left;
	display: block;
}
.mod-select {
	float: right;
	height: 57px;
	overflow: hidden;
	background-color: $colora;
	
	// Transition
	-webkit-transition: height 0.25s ease;
	-moz-transition: height 0.25s ease;
	-ms-transition: height 0.25s ease;
	-o-transition: height 0.25s ease;
	transition: height 0.25s ease;

	li {
		border-bottom: $coloro solid 1px;
		border-left: $coloro solid 1px;
		border-right: $coloro solid 1px;
		//max-width: 132px;
		color: $colorg;
		
		// Transition
		-webkit-transition: border-color 0.25s ease;
		-moz-transition: border-color 0.25s ease;
		-ms-transition: border-color 0.25s ease;
		-o-transition: border-color 0.25s ease;
		transition: border-color 0.25s ease;
		
		a {
			color: $colorc;
			padding: 0 40px 0 15px;
			font-family: 'ProximaNova-Regular';
			font-weight: normal;
			font-style: normal;
			font-size: 0.8rem;
				
			// Transition
			-webkit-transition: color 0.25s ease;
			-moz-transition: color 0.25s ease;
			-ms-transition: color 0.25s ease;
			-o-transition: color 0.25s ease;
			transition: color 0.25s ease;

			@include on-hover {
				color: inherit!important;
			}
		}
		
		&:first-of-type {
			border-top: $coloro solid 1px;

			&, & a {
				height: 57px;
				line-height: 57px;
				font-size: 0.95rem;
			}

			& a {
				position: relative;
				top: 0;
				left: 0;
				padding: 0 40px 0 15px;
				text-transform: uppercase;
				font-family: 'ProximaNova-Bold';
				font-weight: bold;
				text-overflow: ellipsis;
				min-width: 100px;
				white-space: nowrap;
				overflow: hidden;
			}

			span.arrow {
				position: absolute;
				right: 16px;
				top: calc(50% - 7px);
				width: 8px;
				height: 8px;
				font-size: 0;
				border-left: 3px solid $colorc;
				border-top: 3px solid $colorc;

				// Rotate
				-webkit-transform: rotate(225deg);
				-moz-transform: rotate(225deg);
				-ms-transform: rotate(225deg);
				-o-transform: rotate(225deg);
				transform: rotate(225deg);
			}
		}
	}

	&.active {
		li a span.arrow {
			top: calc(50% - 4px);

			// Rotate
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	
	@include on-hover {
		li {
			border-bottom: $colorj solid 1px;
			border-left: $colorj solid 1px;
			border-right: $colorj solid 1px;
		}
		li:first-of-type {
			border-bottom: none;
			border-left: none;
			border-right: none;
			border: $colorj solid 1px;
		}
	}
}

// SLIDER AND THUMBS
.mod-slider-thumbs {
	position: relative;
	top: 0;
	left:  0;
	width: 100%;
	height: auto;
	overflow: hidden;

	// SLIDER
	.slider,
	.slick-list {
		position: relative;
		top: 0;
		left: 0;
	}
	.slider {
		height: auto;

		.slick-list {
			z-index: 99990;
			padding-bottom: 56.25%;

			.slick-track {
				position: absolute;

				li {
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
		.button {
			&.left,
			&.right {
				position: absolute;
				top: 0;
				z-index: 99999;
				width: 12.5%;
				height: 100%;
				font-size: 0;
				text-decoration: none;
				display: block;
			}

			span {
				position: absolute;
				left: calc(50% - 6px);
				top: calc(50% - 4px);
				width: 8px;
				height: 8px;
				border-left: $colora solid 3px;
				border-top: $colora solid 3px;
			}

			&.left {
				left: 0;

				span {
					// Rotate
					-webkit-transform: rotate(320deg);
					-moz-transform: rotate(320deg);
					-ms-transform: rotate(320deg);
					-o-transform: rotate(320deg);
					transform: rotate(320deg);
				}
			}
			&.right {
				right: 0;

				span {
					// Rotate
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
				}
			}
		}
	}

	// THUMBNAILS
	.thumbs {
		width: 100%;
		height: auto;

		li {
			float: left;
			width: 12.5%;
			height: auto;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: calc(100% + 5px);
			overflow: hidden;
			display: block;

			&:nth-child(8n+8) {
				overflow: visible;
			}

			a {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				height: auto;
				font-size: 0;
				text-decoration: none;
				padding-bottom: 56.25%;
				display: block;

				span {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					border: $colorg solid 3px;
					display: block;

					// Transform
					-webkit-transform: translateZ(0);
					-moz-transform: translateZ(0);
					-ms-transform: translateZ(0);
					-o-transform: translateZ(0);
					transform: translateZ(0);

					// Transition
					-webkit-transition: opacity 0.25s ease;
					-moz-transition: opacity 0.25s ease;
					-ms-transition: opacity 0.25s ease;
					-o-transition: opacity 0.25s ease;
					transition: opacity 0.25s ease;
				}

				@include on-hover {
					span:last-of-type {
						opacity: 1;
					}
				}
			}

			a.view {
				
				span:first-of-type {
					background-color: $colore;
					opacity: 1;
				}

				span:last-of-type {
					background-color: $colorg;
					opacity: 0;
				}

				span {
					border: none;
					width: calc(100% + 2px);

					&:after {
						position: absolute;
						top: 50%;
						left: 0;
						height: 5px;
						width: 100%;
						text-align: center;
						line-height: 5px;
						content: '\B7\B7\B7';
						font-size: 2rem;
						color: $colora;

						/* Translate */
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}

// RESPONSIVE
@media (max-device-width: 1440px), (max-width: 1440px) { // up to 1440px
	// TBD
}
@media (max-device-width: 1280px), (max-width: 1280px) { // up to 1280px
	// GRID
	.mod-grid .item {
		width: calc(1/2*100% - (1 - 1/2)*20px);
	}
	// CLOUD ITEMS
	.mod-grid-tags-cloud {
		li {
			width: calc(1/4*100%);
		}
	}
}
@media (max-device-width: 1024px), (max-width: 1024px) { // up to 1024px
	// TBD
}
@media (max-device-width: 900px), (max-width: 900px) { // up to 900px
	// CLOUD ITEMS
	.mod-grid-tags-cloud {
		li {
			width: calc(1/3*100%);
		}
	}
}
@media (max-device-width: 767px), (max-width: 767px) { // up to 767px
	// GRID
	.mod-grid .item {
		width: 100%;
	}
	// TOP BIG POSTER
	.mod-top-big-poster {
		height: calc(100% - 100px);
	}
}
@media (max-device-width: 640px), (max-width: 640px) { // up to 640px
	// CLOUD ITEMS
	.mod-grid-tags-cloud {
		li {
			width: calc(1/2*100%);
		}
	}
}
@media (max-device-width: 480px), (max-width: 480px) { // up to 480px
	// CLOUD ITEMS
	.mod-grid-tags-cloud {
		li {
			width: 100%;
		}
	}
}