// RENT : FILTERS
.rent .filters {
	clear: both;
	width: 100%;
	height: auto;
	background-color: #E4E5E6;
	margin: 0 0 20px 0;
	padding: 10px;
	
	// LIST TYPE
	.list-type,
	.list-type * {
		width: auto;
		height: 57px;
		line-height: 57px;
		font-size: 0;
		text-decoration: none;
		text-align: center;
		display: block;
	}
	.list-type {
		float: right;
		margin-left: 10px;
		height: 57px;
		border: #C7C7C7 solid 1px;
		display: none;
		
		li {
			float: left;
			
			a {
				height: 37px;
				width: 40px;
				margin: 10px;
				
				span {
					&, &:before, &:after {
						// Transition
						-webkit-transition: background-color 0.25s ease;
						-moz-transition: background-color 0.25s ease;
						-ms-transition: background-color 0.25s ease;
						-o-transition: background-color 0.25s ease;
						transition: background-color 0.25s ease;
					}
				}
				
				span:before {
					float: none;
					line-height: 50px;
					font-size: 2rem;
				}
				
				&.icon-list {
					width: 40px;
					margin: 10px 10px 10px 0px;
					
					span {
						position: relative;
						top: 0;
						left: 0;
						width: 40px;
						height: 10px;
						margin-bottom: 3px;
						
						&:before,
						&:after {
							background-color: #C7C7C7;
						}
						
						&:before {
							position: absolute;
							top: 0;
							left: 0;
							content: '';
							width: 10px;
							height: 10px;
						}
						
						&:after {
							position: absolute;
							top: 0;
							left: 13px;
							content: '';
							width: 27px;
							height: 10px;
						}
					}
					
					&.selected span {
						&:before, &:after {
							background-color: #1C7EBE !important;
						}
					}
					
					@include on-hover {
						span {
							&:before, &:after {
								background-color: #1C7EBE !important;
							}
						}
					}
				}
				
				&.icon-grid {
					width: 40px;
					margin: 10px 7px 10px 10px;
					
					span,
					span:before,
					span:after {
						float: left;
						width: 10px;
						height: 10px;
						margin-right: 3px;
						background-color: #C7C7C7;
						display: block;
					}
					
					span {
						position: relative;
						top: 0;
						left: 0;
						
						&:before {
							position: absolute;
							top: 13px;
							left: 0;
							content: '';
						}

						&:after {
							position: absolute;
							top: 26px;
							left: 0;
							content: '';
						}
					}
					
					&.selected span {
						&, &:before, &:after {
							background-color: #1C7EBE !important;
						}
					}
					
					@include on-hover {
						span {
							&, &:before, &:after {
								background-color: #1C7EBE !important;
							}
						}
					}
				}

			}
		}
	}
}

// RENT : GRID (GRID TYPE)
.rent .mod-grid {
	padding-bottom: 30px;
	
	.item {
		cursor: default;
		
		.wrapper {
			position: relative;
			top: 0;
			left: 0;
			min-height: 100%;
			padding-bottom: 50px;
			
			// Transition
			-webkit-transition: background-color 0.25s ease;
			-moz-transition: background-color 0.25s ease;
			-ms-transition: background-color 0.25s ease;
			-o-transition: background-color 0.25s ease;
			transition: background-color 0.25s ease;
		}
		
		@include on-hover {
			.wrapper {
				background-color: inherit !important;
			}
		}
	}
	
	// DETAILS
	.details {
		padding: 30px;
		width: 100%;
		height: auto;
		
		.title,
		.subtitle {
			padding: 0 0 18px 0;
			width: 100%;
			height: auto;
			line-height: 1em;
			text-decoration: none;
			font-size: 1.5rem;
			font-family: 'ProximaNova-Bold';
			font-weight: bold;
			font-style: normal;
			display: block;
		}
		
		.title a span {
			font-style: italic;
			font-size: 0.8rem;
			display: inline-block;
		}
		
		.subtitle {
			font-size: 1rem;
			
			span {
				font-size: 1.5rem;
				line-height: 1em;
				display: block;
			}
		}
		
		.title a {
			// Transition
			-webkit-transition: color 0.25s ease;
			-moz-transition: color 0.25s ease;
			-ms-transition: color 0.25s ease;
			-o-transition: color 0.25s ease;
			transition: color 0.25s ease;
			
			@include on-hover {
				&, & span {
					color: inherit !important;
				}
			}
		}

		.description {
			padding: 0 0 30px 0;
			width: 100%;
			height: auto;
			font-size: 0.95rem;
			line-height: 1.2em;
			display: block;
		}
	}
	
	// CONTACT VIEW
	.contact-view {
		padding: 30px;
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		
		.contact {
			float: left;
			width: auto;
			height: auto;
			line-height: 1em;
			text-decoration: none;
			font-family: 'ProximaNova-Bold';
			font-weight: bold;
			font-style: normal;
			display: block;
			line-height: 1.2em;
			font-size: 1rem;
			
			a {
				display: block;
				
				// Transition
				-webkit-transition: color 0.25s ease;
				-moz-transition: color 0.25s ease;
				-ms-transition: color 0.25s ease;
				-o-transition: color 0.25s ease;
				transition: color 0.25s ease;

				@include on-hover {
					&, & span {
						color: inherit !important;
					}
				}
			}
		}
		
		.view {
			position: relative;
			top: 0;
			left: 0;
			float: right;
			width: auto;
			height: 40px;
			line-height: 40px;
			font-size: 1rem;
			font-family: 'ProximaNova-Bold';
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
			display: inline-block;

			span {
				position: absolute;
				top: 0;
				left: 0;
				width: auto;
				height: 100%;
				line-height: 32px;
				padding: 0 15px 0 15px;
				border: #33BAF1 solid 4px;
				opacity: 1;
				display: block;
				
				// Transition
				-webkit-transition: opacity 0.25s ease, border-color 0.25s ease;
				-moz-transition: opacity 0.25s ease, border-color 0.25s ease;
				-ms-transition: opacity 0.25s ease, border-color 0.25s ease;
				-o-transition: opacity 0.25s ease, border-color 0.25s ease;
				transition: opacity 0.25s ease, border-color 0.25s ease;
			}
			
			span:last-of-type {
				position: relative;
				border: #6789B2 solid 4px;
			}
			
			@include on-hover {
				span:last-of-type {
					opacity: 0;
				}
				&:after {
					
				}
			}
		}
	}
	
}

// RESPONSIVE
@media (min-width: 768px) { // from 768px
	// RENT : FILTERS : LIST TYPE
	.rent .filters .list-type {
		display: block;
	}
	
	// RENT : GRID (LIST TYPE)
	.rent .mod-grid.list {

		.item {
			width: 100%;

			.wrapper {
				width: 100%;
				padding-bottom: 0;
			}
		}

		// SLIDER AND THUMBS
		.mod-slider-thumbs {
			float: left;
			width: 32.4%;
		}

		// DETAILS
		.details {
			float: left;
			width: 67.6%;

			.title,
			.subtitle {
				padding: 0 0 18px 0;
			}

			.description {
				position: relative;
				top: 0;
				left: 0;
				padding: 0;
			}
		}

		// CONTACT VIEW
		.contact-view {
			padding: 30px;
			width: 67.6%;
			height: auto;
			left: auto;
			left: auto;
			right: 0;
		}

	}
}

// RENT : GRID (LIST TYPE)
.rent .mod-grid.list {

	// DETAILS
	.details {
		padding: 30px 30px 8% 30px;
	}
}
@media (max-device-width: 1200px), (max-width: 1200px) { // up to 1200px
	// RENT : GRID (LIST TYPE)
	.rent .mod-grid.list {

		// DETAILS
		.details {
			padding: 30px 30px 10% 30px;
		}
	}
}
@media (max-device-width: 1024px), (max-width: 1024px) { // up to 1024px
	// RENT : GRID (LIST TYPE)
	.rent .mod-grid.list {

		// SLIDER AND THUMBS
		.mod-slider-thumbs {
			width: 50%;
		}
		
		// DETAILS
		.details {
			width: 50%;
			padding: 30px 30px 0% 30px;
		}
		
		// CONTACT VIEW
		.contact-view {
			position: relative;
			clear: both;
			width: 100%;
		}
	}
}
@media (max-device-width: 768px), (max-width: 768px) { // up to 768px
	// RENT : GRID (ALL TYPES)
	.rent .mod-grid.list {

		// SLIDER AND THUMBS
		.mod-slider-thumbs {
			width: 100%;
		}
		
		// DETAILS
		.details {
			width: 100%;
			padding: 5% 5% 0% 5%;
		}
	}
	.rent .mod-grid {
		
		.item .wrapper {
			padding-bottom: 0;
		}
		
		// DETAILS
		.details {
			padding: 5% 5% 0% 5%;
			
			.description {
				padding: 0;
			}
		}
		
		// CONTACT VIEW
		.contact-view {
			clear: both;
			position: relative;
			padding: 5%;
		}
	}
}