// RENT : FILTERS
.rent .filters {
	clear: both;
	width: 100%;
	height: auto;
	padding: 20px 0 0 0;
	
	// MOD SELECT
	.mod-select {
		float: left;
		margin-right: 20px;
		
		// ORDER
		&.order {
			float: right;
			margin-right: 0;
		}
	}
	
	// SELECT GRID
	.mod-select-grid.property {
		min-width: 200px;
	}
	
	// MORE FILTERS BUTTON
	a.more-filters {
		border-bottom: $colorj solid 1px;
		border-left: $colorj solid 1px;
		border-right: $colorj solid 1px;
		margin-top: -4px;
		position: relative;
		top: -20px;
		left: 0;
		
		&, span {
			margin-right: 20px;
			float: left;
			font-size: 0;
			text-decoration: none;
			width: 60px;
			height: 81px;
			line-height: 57px;
			background-image: url(../css/images/image-0003.png);
			background-position: -62px bottom;
			background-repeat: no-repeat;
			background-color: $colorm;
			display: block;
		}
		
		span {
			margin-right: 0;
			position: absolute;
			top: 0;
			left: -1px;
			border-bottom: $coloro solid 1px;
			border-left: $coloro solid 1px;
			border-right: $coloro solid 1px;
			background-position: -2px bottom;
			opacity: 1;
				
			// Transition
			-webkit-transition: opacity 0.25s ease;
			-moz-transition: opacity 0.25s ease;
			-ms-transition: opacity 0.25s ease;
			-o-transition: opacity 0.25s ease;
			transition: opacity 0.25s ease;
		}
		span:last-of-type {
			background-position: bottom right;
			opacity: 0;
		}
		&.selected span:last-of-type {
			opacity: 1 !important;
			cursor: pointer;
		}
		
		@include on-hover {
			span {
				opacity: 0;
			}
		}
	}
	
	// LIST TYPE
	.list-type,
	.list-type * {
		width: auto;
		height: 57px;
		line-height: 55px;
		font-size: 0;
		text-decoration: none;
		text-align: center;
		display: block;
	}
	.list-type {
		float: right;
		height: 57px;
		border: $coloro solid 1px;
		margin-bottom: 20px;
		display: none;
		
		// Transition
		-webkit-transition: border-color 0.25s ease;
		-moz-transition: border-color 0.25s ease;
		-ms-transition: border-color 0.25s ease;
		-o-transition: border-color 0.25s ease;
		transition: border-color 0.25s ease;
		
		li {
			float: left;
			
			a {
				height: 37px;
				width: 40px;
				margin: 10px;
				
				span {
					&, &:before, &:after {
						// Transition
						-webkit-transition: background-color 0.25s ease;
						-moz-transition: background-color 0.25s ease;
						-ms-transition: background-color 0.25s ease;
						-o-transition: background-color 0.25s ease;
						transition: background-color 0.25s ease;
					}
				}
				
				span:before {
					float: none;
					line-height: 50px;
					font-size: 2rem;
				}
				
				&.icon-list {
					width: 40px;
					margin: 10px 10px 10px 0px;
					
					span {
						position: relative;
						top: 0;
						left: 0;
						width: 40px;
						height: 10px;
						margin-bottom: 3px;
						
						&:before,
						&:after {
							background-color: $colorj;
						}
						
						&:before {
							position: absolute;
							top: 0;
							left: 0;
							content: '';
							width: 10px;
							height: 10px;
						}
						
						&:after {
							position: absolute;
							top: 0;
							left: 13px;
							content: '';
							width: 27px;
							height: 10px;
						}
					}
					
					&.selected span {
						&:before, &:after {
							background-color: $colord !important;
						}
					}
					
					@include on-hover {
						span {
							&:before, &:after {
								background-color: $colord !important;
							}
						}
					}
				}
				
				&.icon-grid {
					width: 40px;
					margin: 10px 7px 10px 10px;
					
					span,
					span:before,
					span:after {
						float: left;
						width: 10px;
						height: 10px;
						margin-right: 3px;
						background-color: $colorj;
						display: block;
					}
					
					span {
						position: relative;
						top: 0;
						left: 0;
						
						&:before {
							position: absolute;
							top: 13px;
							left: 0;
							content: '';
						}

						&:after {
							position: absolute;
							top: 26px;
							left: 0;
							content: '';
						}
					}
					
					&.selected span {
						&, &:before, &:after {
							background-color: $colord !important;
						}
					}
					
					@include on-hover {
						span {
							&, &:before, &:after {
								background-color: $colord !important;
							}
						}
					}
				}

			}
		}
		
		@include on-hover {
			border: $colorj solid 1px;
		}
	}
	
	// FILTERS SELECTION & MORE FILTERS
	&.selection,
	&.more {
		padding: 0;
		overflow: hidden;
		height: auto;
		max-height: 0px;
		
		// Transition
		-webkit-transition: max-height 0.25s ease;
		-moz-transition: max-height 0.25s ease;
		-ms-transition: max-height 0.25s ease;
		-o-transition: max-height 0.25s ease;
		transition: max-height 0.25s ease;
		
		.wrapper {
			padding: 20px 20px 0 20px;
			background-color: $colorm;
			border-bottom: $coloro solid 4px;
		}
	}
	
	// FILTERS SELECTION
	&.selection {
		
		.wrapper {
			padding: 20px 20px 12px 20px;
		}
		
		&.active {
			max-height: 1000px;
		}
	}
	
	// MORE FILTERS
	&.more {
		
		.wrapper {
			width: calc(100% + 21px);
			
			// SELECTS ALL
			.mod-select,
			.mod-select-grid {
				width: calc(1/7*99.99% - 20px);
			}
		}
		
		&.active {
			max-height: none;
		}
		
		// CLOUD ITEMS
		.mod-grid-tags-cloud {
			clear: both;
			width: calc(100% - 2px);
			padding-bottom: 12px;
		}
		
		// HIDE SOME FILTERS
		.mod-select-grid.property,
		.mod-select.rooms,
		.mod-select-grid.price-min,
		.mod-select-grid.price-max {
			display: none;
		}
	}
	
}

// RESPONSIVE
@media (min-width: 768px) { // from 768px
	// RENT : FILTERS : LIST TYPE
	.rent .filters .list-type {
		display: block;
	}
	// RENT : FILTERS : ORDER
	.rent .filters .mod-select.order {
		margin-right: 20px;
	}
}
@media (max-device-width: 1440px), (max-width: 1440px) { // up to 1440px
	// TBD
}
@media (max-device-width: 1439px), (max-width: 1439px) { // up to 1439px
	// RENT : FILTERS : MORE
	.rent .filters.more {
		
		.wrapper {
			
			// SELECTS ALL
			.mod-select,
			.mod-select-grid {
				width: calc(1/5*100% - 20px);
			}
			
			// Avoid move right on select open
			.mod-select.pets {
				clear: both;
			}
		}
	}
}
@media (max-device-width: 1280px), (max-width: 1280px) { // up to 1280px
	// RENT : FILTERS
	.rent .filters {
			
		// HIDE SOME FILTERS
		.mod-select.rooms {
			display: none;
		}
	}
	// RENT : FILTERS : MORE
	.rent .filters.more {
		
		.wrapper {
			
			// SELECTS ALL
			.mod-select,
			.mod-select-grid {
				width: calc(1/4*100% - 20px);
			}
			
			// HIDE SOME FILTERS
			.mod-select.rooms {
				display: block;
			}
			
			// Avoid move right on select open
			.mod-select.equipment {
				clear: both;
			}
			
			// Reset: Avoid move right on select open
			.mod-select.pets {
				clear: none;
			}
		}
	}
}
@media (max-device-width: 1024px), (max-width: 1024px) { // up to 1024px
	// TBD
}
@media (max-device-width: 1023px), (max-width: 1023px) { // up to 1023px
	// RENT : FILTERS
	.rent .filters {
			
		// HIDE SOME FILTERS
		.mod-select-grid.price-min,
		.mod-select-grid.price-max {
			display: none;
		}
	}
	// RENT : FILTERS : MORE
	.rent .filters.more {
		
		.wrapper {
			
			// HIDE SOME FILTERS
			.mod-select-grid.price-min,
			.mod-select-grid.price-max {
				display: block;
			}
			
			// Avoid move right on select open
			.mod-select.pets,
			.mod-select.rooms {
				clear: both;
			}
			
			// Reset: Avoid move right on select open
			.mod-select.equipment {
				clear: none;
			}
		}
	}
}
@media (max-device-width: 900px), (max-width: 900px) { // up to 900px
	// RENT : FILTERS : MORE
	.rent .filters.more {
		
		.wrapper {
			
			// SELECTS ALL
			.mod-select,
			.mod-select-grid {
				width: calc(1/3*99.99% - 20px);
			}
			
			// Avoid move right on select open
			.mod-select-grid.size-max,
			.mod-select.equipment,
			.mod-select.level {
				clear: both;
			}
			
			// Reset: Avoid move right on select open
			.mod-select.rooms,
			.mod-select.pets {
				clear: none;
			}
		}
	}
}
@media (max-device-width: 768px), (max-width: 768px) { // up to 768px
	// TBD
}
@media (max-device-width: 640px), (max-width: 640px) { // up to 640px
	// RENT : FILTERS
	.rent .filters {
		
		// SELECTION
		&.selection {
			width: 100vw;
			margin-left: -5vw;
		}
		
		// HIDE SOME FILTERS
		.mod-select-grid.property {
			display: none;
		}
		
		// MORE FILTERS BUTTON
		a.more-filters {
			&.selected span:last-of-type {
				border-left: none;
			}
		}
	}

	// RENT : FILTERS : MORE
	.rent .filters.more {
		
		.wrapper {
			
			// SELECTS ALL
			.mod-select,
			.mod-select-grid {
				width: calc(1/2*100% - 20px);
				min-width: 0;
			}
			
			// HIDE SOME FILTERS
			.mod-select-grid.property {
				display: block;
			}
			
			// Avoid move right on select open
			.mod-select-grid.price-max,
			.mod-select.bathrooms,
			.mod-select.state {
				clear: both;
			}
			
			// Reset: Avoid move right on select open
			.mod-select.equipment {
				clear: none;
			}
		}
	}
}
@media (max-device-width: 480px), (max-width: 480px) { // up to 480px
	// RENT : FILTERS : MORE
	.rent .filters.more {
		
		.wrapper {
			
			// SELECTS ALL
			.mod-select,
			.mod-select-grid {
				width: calc(1/1*100% - 20px);
			}
		}
	}
}