// RENT : FILTERS
.rent .filters {
	width: 100%;
	height: 150px;
	background-color: #E4E5E6;
	margin: 0 0 5% 0;
}

// RENT : GRID
.rent .mod-grid {
	padding-bottom: 30px;
	
	.item {
		cursor: default;
		
		.wrapper {
			position: relative;
			top: 0;
			left: 0;
			min-height: 100%;
			padding-bottom: 50px;
			
			// Transition
			-webkit-transition: background-color 0.25s ease;
			-moz-transition: background-color 0.25s ease;
			-ms-transition: background-color 0.25s ease;
			-o-transition: background-color 0.25s ease;
			transition: background-color 0.25s ease;
		}
		
		@include on-hover {
			.wrapper {
				background-color: inherit !important;
			}
		}
	}
	
	// SLIDER AND THUMBS
	.slider-thumbs {
		position: relative;
		top: 0;
		left:  0;
		width: 100%;
		height: auto;
		
		// ADD TO FAVORITES
		.add-to-favorite {
			position: absolute;
			top: 0;
			right:  0;
			width: 12.5%;
			height: 50px;
			line-height: 50px;
			text-decoration: none;
			z-index: 99999;
			display: block;
			
			span {
				font-size: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				display: block;
				
				// Transition
				-webkit-transition: color 0.25s ease;
				-moz-transition: color 0.25s ease;
				-ms-transition: color 0.25s ease;
				-o-transition: color 0.25s ease;
				transition: color 0.25s ease;
				
				&:after {
					font-family: 'ProximaNova-Regular';
					font-weight: normal;
					font-style: normal;
					font-size: 2rem;
					content: '\2661';
				}
			}
			
			@include on-hover {
				span {
					color: inherit !important;
				}
			}
		}
		
		// SLIDER
		.slider,
		.slick-list {
			position: relative;
			top: 0;
			left: 0;
		}
		.slider {
			height: auto;

			.slick-list {
				z-index: 99990;
				padding-bottom: 56.25%;

				.slick-track {
					position: absolute;

					li {
						background-position: center center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
			}
			.button {
				&.left,
				&.right {
					position: absolute;
					top: 0;
					z-index: 99999;
					width: 12.5%;
					height: 100%;
					font-size: 0;
					text-decoration: none;
					display: block;
				}

				span {
					position: absolute;
					left: calc(50% - 6px);
					top: calc(50% - 4px);
					width: 8px;
					height: 8px;
					border-left: 3px solid #FFFFFF;
					border-top: 3px solid #FFFFFF;
				}

				&.left {
					left: 0;

					span {
						// Rotate
						-webkit-transform: rotate(320deg);
						-moz-transform: rotate(320deg);
						-ms-transform: rotate(320deg);
						-o-transform: rotate(320deg);
						transform: rotate(320deg);
					}
				}
				&.right {
					right: 0;

					span {
						// Rotate
						-webkit-transform: rotate(135deg);
						-moz-transform: rotate(135deg);
						-ms-transform: rotate(135deg);
						-o-transform: rotate(135deg);
						transform: rotate(135deg);
					}
				}
			}
		}

		// THUMBNAILS
		.thumbs {
			width: 100%;
			height: auto;

			li {
				float: left;
				width: 12.5%;
				height: auto;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: calc(100% + 5px);
				overflow: hidden;
				display: block;
				
				&:nth-child(8n+8) {
					overflow: visible;
				}

				a {
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
					font-size: 0;
					text-decoration: none;
					padding-bottom: 56.25%;
					display: block;

					span {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						opacity: 0;
						border: #33BAF1 solid 3px;
						display: block;

						// Transition
						-webkit-transition: opacity 0.25s ease;
						-moz-transition: opacity 0.25s ease;
						-ms-transition: opacity 0.25s ease;
						-o-transition: opacity 0.25s ease;
						transition: opacity 0.25s ease;
					}

					@include on-hover {
						span:last-of-type {
							opacity: 1;
						}
					}
				}

				&:last-of-type {
					& span:first-of-type {
						opacity: 1;
					}

					& span:last-of-type {
						opacity: 0;
					}
					
					span {
						border: none;
						width: calc(100% + 2px);
						
						&:after {
							position: absolute;
							top: 50%;
							left: 0;
							height: 5px;
							width: 100%;
							text-align: center;
							line-height: 5px;
							content: '\B7\B7\B7';
							font-size: 2rem;
							color: #FFFFFF;

							/* Translate */
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
	
	// DETAILS
	.details {
		padding: 5%;
		width: 100%;
		height: auto;
		
		.title,
		.subtitle,
		.contact {
			padding: 0 0 5% 0;
			width: 100%;
			height: auto;
			line-height: 1em;
			text-decoration: none;
			font-size: 1.5rem;
			font-family: 'ProximaNova-Bold';
			font-weight: bold;
			font-style: normal;
			display: block;
		}
		.subtitle,
		.contact {
			line-height: 1.2em;
			font-size: 1rem;
			
			span {
				font-size: 1.5rem;
				display: block;
			}
		}
		.contact {
			position: absolute;
			bottom: 0;
			left: 5%;
			
			& a {
				display: block;
			}
		}
		
		.description {
			padding: 0 0 5% 0;
			width: 100%;
			height: auto;
			font-size: 0.95rem;
			line-height: 1.2em;
			display: block;
		}
		
		.view {
			position: absolute;
			bottom: 0;
			right: 5%;
			width: auto;
			height: 40px;
			line-height: 40px;
			font-size: 1rem;
			font-family: 'ProximaNova-Bold';
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
			margin-bottom: 5%;
			display: inline-block;

			span {
				position: absolute;
				top: 0;
				left: 0;
				width: auto;
				height: 100%;
				line-height: 32px;
				padding: 0 15px 0 15px;
				border: #33BAF1 solid 4px;
				opacity: 1;
				display: block;
				
				// Transition
				-webkit-transition: opacity 0.25s ease, border-color 0.25s ease;
				-moz-transition: opacity 0.25s ease, border-color 0.25s ease;
				-ms-transition: opacity 0.25s ease, border-color 0.25s ease;
				-o-transition: opacity 0.25s ease, border-color 0.25s ease;
				transition: opacity 0.25s ease, border-color 0.25s ease;
			}
			
			span:last-of-type {
				position: relative;
				border: #6789B2 solid 4px;
			}
			
			@include on-hover {
				span:last-of-type {
					opacity: 0;
				}
				&:after {
					
				}
			}
		}
	}
}