// RENT : TWO COLUMNS
.rent-detail .wrapper {
	clear: both;
	width: 100%;
	height: auto;
	
	// BLOCKS
	.block {
		width: 100%;
		//margin: 0 0 20px 0;

		// PADDED
		&.padded {
			padding: 30px;
		}
		
		// LEFT
		&.left {
			float: left;
			width: 60%;
		}
		
		// RIGHT COLUMN
		&.right {
			float: right;
			width: 40%;
		}
		
		// CONTACT FORM
		.contact-form,
		.contact-form * {
			margin: 0;
			padding: 0;
			border: none;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
			border-radius: 0;
			outline: none;
			height: auto;
			display: block;
		}
		.contact-form {
			width: 100%;
			backface-visibility: hidden;
			
			form,
			fieldset,
			input {
				width: 100%;
				font-weight: normal;
				font-style: normal;
				font-size: 1rem;
				background: none;
				background-image: none;
			}
			
			input {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				padding: 0 15px 0 15px;
				margin: 0 0 10px 0;
				color: #09315A;
				line-height: normal;
				height: 60px;

				&:focus {
					background-color: #FFFFFF !important;
				}
				&::-ms-clear {
					display: none;
				}
			}
		}
		
		.title,
		.subtitle {
			padding: 0 0 2% 0;
			width: 100%;
			height: auto;
			line-height: 1em;
			text-decoration: none;
			font-size: 1.5rem;
			font-family: 'ProximaNova-Bold';
			font-weight: bold;
			font-style: normal;
			display: block;
		}

		.title span {
			font-style: italic;
			font-size: 0.8rem;
			display: inline-block;
		}

		.subtitle {
			font-size: 1rem;

			span {
				font-size: 1.5rem;
				line-height: 1em;
				display: block;
			}
		}

		.text {
			width: 100%;
			height: auto;
			font-size: 0.95rem;
			line-height: 1.2em;
			display: block;
		}
	}
	
}